

<div class="hero">
<h1 class="text-center">Crush Your Next <strong>Technical Interview</strong></h1>
<h2 class="text-center">by getting the skills to snag that dream job you've always wanted...</h2>
</div>
<section class="text-center about">
<h3 class="col-xs-8 col-xs-offset-2">Much of the process of landing a job as a junior web developer is getting prepared to face the technical interview.  <strong>Exam Goose prepares you to crush it and get that job offer.</strong></h3>
<br class="clr"/>
</section>
<%= image_tag 'divider-gray.png', :class => 'img-responsive' %>

<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <h3>Test your knowledge</h3>
    <p>Get ready for your technical interview with curated questions for the subject of your choosing.</p> <br />
  </div>

  <div class="col-sm-4">
    <h3>Real interview problems</h3>
    <p>Interview questions that commonly show up in your selected interview type, and  how to nail them.</p><br />
  </div>

  <div class="col-sm-4">
    <h3>Your First Set Free</h3>
    <p>The first set of questions are free, and you have the option to unlock more for just $5.</p>
  </div>

</div>

<br class="clr" />

<div class="sign-up col-xs-10 col-xs-offset-1 text-center">
	<h2>Get started</h2>
  <p>
    Enter your name and your email address so we'll be able to notify you when Exam Goose is live.
  </p>

  <%= simple_form_for Optin.new do |f| %>
    <div class="simple_form form-inline">
      <div class="form-group">
        <%= f.input :name, placeholder: 'Name', label: false %>
      </div>

      <div class="form-group">
        <%= f.input :email, :placeholder => 'Email', label: false %>
      </div>
      <br />
      <br />
      <%= f.submit 'Get notified', :class => 'btn btn-success btn-sm' %>
    </div>
  <% end %>
</div>


<br class="clr"/>
