<h2><%= current_interview.title %></h2>
<p><%= current_interview.description %></p>


<% @interviews.each do |question| %>
	<%= div_for(question, class: "set") do %>
		<%= div_for(question, class: "intbox") do %>
			<%= question.problem %>
		<% end %>
		<%= div_for(question, class: "ansbox") do %>
			<%= question.solution %>
		<% end %>
	<% end %>
<% end %>




<!--<% current_interview.questions.each do |question| %>
	<p> <%= question.problem %> <br>
	<%= question.solution %><br></p>
<% end %>

<% current_interview.questions.each do |question| %>
<div class="panel-heading">
	<h4 class="panel-title">
		<a data-toggle="collapse" data-parent="#accordion" rel='nofollow' target='_blank' href="#collapseTwo">
				<%= question.problem %>
		</a>
	</h4>
</div>
<div id="collapseTwo" class="panel-collapse collapse">
	<div class="panel-body">
		<%= question.solution %>
	</div>
</div>


<% end %>

<%= div_for @interview, :class => "intbox" do %>
	<p> <%= question.problem %> <br>
	<%= question.solution %><br></p>
<% end %> -->
