<br/>

<div class="container">
    <div id="content">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li><a href="#dashboard" data-toggle="tab">Dashboard</a></li>
            <li class="active"><a href="#questions" data-toggle="tab">Questions</a></li>
            <li><a href="#interviews" data-toggle="tab">Interviews</a></li>
            <li><a href="#users" data-toggle="tab">Users</a></li>
        </ul>

        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane" id="dashboard">
                <h1>Dashboard</h1>
            </div>

            <div class="tab-pane active" id="questions">
                <br />
                <a href="#" class="btn btn-danger"
                    data-toggle="modal"
                    data-target="#questionModal">New question</a>

                <%= render :partial => "layouts/new_question" %>
                <br />
                <br />

                <% @topics.each do |topic| %>
                <div class="admin-box">
                    <h3><strong><%= topic.title %></strong></h3><br/>
                    <% topic.questions.each_with_index do |question, i| %>
                    <div class="questionbox">
                        <h4> #<%= i+1 %> - <%= question.problem %></h4>
                        <h5> <%= question.solution %></h5>
                    </div>
                    <% end %>
                  </div>
                <% end %>

            </div>

            <div class="tab-pane" id="interviews">
               <br />
                <a href="#" class="btn btn-danger"
                    data-toggle="modal"
                    data-target="#interviewModal">New Interview</a>

                <%= render :partial => "layouts/new_interview" %>
                <br />
                <br />

                <% @interviews.each_with_index do |interview, i| %>
                <div class="admin-box">
                    <h3>Interview Nr. <%= i+1 %></h3><br/>
                    <%  interview.questions.each do |question| %>
                        <%= question.problem %> <br/>
                    <% end %>
                  </div>
                <% end %>

</div>

            <div class="tab-pane" id="interviews">


            </div>
            <div class="tab-pane" id="users">
                <h1>Users</h1>
                <div class="admin-box">
                <% @users.each_with_index do |user, i| %>
                <div class="admin-box">
                    <%= link_to user.email, user_path(user) %>
                    <% i %>
                     <% user.interviews.each do |int| %>
                    <%= int.title %>
                    <br/>
                    <% end %>
                    <% if !user.firehose? %>
                        <%= link_to 'Add as FireHose Member', user_path(user, :firehose => true), :class => 'btn btn-primary btn-sm', :method => :put %><br />
                    <% else %>
                        <button type="button" class="btn btn-sm btn-primary" disabled="disabled">FireHoser</button><br />
                    <% end %>
                    <br />
                </div>
                <% end %>
              </div>

            </div>
        </div>
    </div>
</div>
