<!DOCTYPE html>
<html>
<head>
  <title>Examgoose</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>


<body class="Site">
  <main class="Site-content">
	<div id="container">
		<%= render :partial => "layouts/header" %>


		<% if notice.present? %>
      <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <%= notice %>
    </div>
		  <!-- <p class="alert alert-info"><%= notice %></p> -->
		<% end %>
		<% if alert.present? %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <%= alert %>
    </div>
      <!-- <%= alert_box alert, dismissible: true %>
		  <p class="alert alert-danger"><%= alert %></p> -->
		<% end %>
  </div>
	</div>


	<%= yield %>

</main>


<%= render :partial => 'layouts/footer' %>

</body>
</html>
